*{
    box-sizing: border-box;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
nav{
    display: flex;
    background-color: #fff;
    justify-content: flex-end;
    

}

nav a{
    text-decoration: none;
    color: rgb(19, 18, 17);
    padding: 20px;
    font-size: 20px;
    
}
nav a:hover{
    color: orange;
}
nav a:active{
    color: orange;
}
.flex{
    display: flex;
    justify-content: center;
    
}
.uvod{
    background-image: 
    linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),
    url(/img/uvod1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: rgb(238, 133, 62);
    
    
    
}
.uvod   h2{
    padding: 60px 20px;
    text-align: center;
    font-size: 35px;
    
}
.uvod h1{
    padding: 60px 20px;
    font-size: 70px;
    text-align: center;
}
.uvod p{
    color: white;
    text-align: center;
    font-size: 25px;
}
.menubtn{
    margin: 50px;
    padding: 15px;
    width: 200px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 26px;
    text-decoration: none;
    color: #fff;
    text-align: center;
    
}
.menubtn:hover{
    background-color: #fff;
    color: black;
    transition-delay: 0.2s;
}
.rezbtn{
    margin: 50px;
    padding: 15px;
    width: 200px;
    border: 2px solid orange;
    border-radius: 26px;
    text-decoration: none;
    background-color: orange;
    color: #fff;
    text-align: center;
}
.rezbtn:hover{
     background-color: rgb(233, 110, 9);
     border: 2px rgb(233, 110, 9) solid;
     color: rgb(255, 255, 255);
     transition-delay: 0.2s;
}
.article{
   background-color: rgb(252, 245, 245);
   width: 100%;
   padding: 50px;
   
   
}
.article-in{
    display: flex;
    gap: 60px;
    max-width: 80%;
    margin-left: 100px;
    position: relative;
}

.img-vetsi img{
   height: 450px;
   width: 700px;
   border-radius: 10px;
   margin-top: 35px;

}
.txt h3{
  color: rgb(238, 133, 62);
  font-size: 25px;
  }
.txt h1{
    font-size: 40px;
  }
.txt p{
    font-size: 35px;
}
.j-listek h1{
   text-align: center;
   padding: 60px;
}